<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <style>
 
 td {
        width: 150px;
        text-align: center;
        border: 1px solid black;
        padding: 5px;
      }
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 25px 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

</style>
  </head>
  <body>

    {% extends "base.html" %}
    {% block content %}
   
    	 <h2 style="color:#c54245;">SHOW FAMILY MEMBER DETAILS:</h2>
	<form method="POST" action="">
      <div ><button class=button>Submit</button></div>
    </form>

    <table>
  <thead>
    <tr>
        <th>member_id</th>
        <th>first_name</th>
        <th>family_name</th>
        <th>age</th>
        <th>gender</th>
        <th>relation</th>
        <th>year_added</th>
        <th>family_hash</th>
    </tr>
    </thead>    
    <tbody>
     {% for row in data %}    
            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td>{{row[4]}}</td>
                <td>{{row[5]}}</td>
                <td>{{row[6]}}</td>
                <td>{{row[7]}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

    {% endblock %}
  </body>
</html>

